:root{
  --yellow: #fdb813;
  --bg: #000000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppin',  sans-serif;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--yellow);
}

neon-button{
	font-size: 3rem;
	text-decoration: none;
	border: .1em solid var(--yellow);
	color: var(--yellow);
	padding: .25em;
	border-radius: .2em;

	text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.333), 0 0 1em var(--yellow);

}


